<section class="list-view">
  <h2 class="list-title"><%= site.pageData.type.list %> Launches</h2>
  <ol class="launches-list">
    <% for( let launchItem of site.pageData.listData ) { %>
    <li
      class="launches-list-item flight-<%= launchItem.data.flightNumber %>"
      data-flightnumber="<%= launchItem.data.flightNumber %> "
    >
      <a class="launch-link" href="details/<%= launchItem.data.flightNumber %> "
        ><ul class="launches-list-item-details-list">
          <li class="launches-list-item-details-list-item">
            <span class="details-list-title">Mission title: </span><%=
            launchItem.data.missionTitle %>
          </li>
          <li class="launches-list-item-details-list-item">
            <span class="details-list-title">Flight number: </span><%=
            launchItem.data.flightNumber %>
          </li>
          <li class="launches-list-item-details-list-item">
            <span class="details-list-title">Rocket title: </span><%=
            launchItem.data.rocketTitle %>
          </li>
          <li class="launches-list-item-details-list-item">
            <span class="details-list-title">Launch site: </span><%=
            launchItem.data.launchSite %>
          </li>
          <li class="launches-list-item-details-list-item">
            <span class="details-list-title">Launch date: </span><%=
            launchItem.data.launchDate %> 05:50
          </li>
        </ul></a
      >
      <% if (site.pageData.type.list === 'past') { %>
      <img class="icon" src="<%= launchItem.links.patch %> " />
      <% } %>
    </li>
    <% } %>
  </ol>
</section>
