<section class="showcase">
  <h2 class="showcase-title"><%= site.pageData.type.showcase %> launch</h2>
  <div>
    <div class="showcase-image-titles-container">
      <ul class="showcase-titles-container">
        <li class="dynamic-content-showcase">
          <span class="info-type">MISSION</span>
          <%= site.pageData.showcaseData.flightNumber %>, <%= site.pageData.showcaseData.missionTitle %> 
        </li>
        <li class="dynamic-content-showcase">
          <span class="info-type">ROCKET</span>
          <%= site.pageData.showcaseData.rocketTitle %> 
        </li>
        <li class="dynamic-content-showcase">
          <span class="info-type">LAUNCH SITE</span>
          <%= site.pageData.showcaseData.launchSite %> 
        </li>
      </ul>
      <div class="showcase-image-container">
        <img class="dynamic-content-showcase" src="<%= site.pageData.showcaseData.imageUrl %> ">
      </div>
    </div>
    <div class="showcase-details-container">
      <p class="dynamic-content-showcase">
        <%= site.pageData.showcaseData.details %> 
      </p>
      <a class="video-link dynamic-content-showcase" href="<%= site.pageData.showcaseData.videoLink %> ">
        <i class="fab fa-youtube" aria-hidden="true"></i>
        Click here to watch the video
      </a>
    </div>
    <div class="showcase-launchdate-container">
      <p class="showcase-launchdate-date">
        <p class="showcase-launchdate-date dynamic-content-showcase">
          <span class="info-type">LAUNCH DATE</span>
          <%= site.pageData.showcaseData.launchDate %> 
        </p>
      </p>
      <p class="showcase-launchdate-countdown">
        <span class="launch-days"></span>
        <span class="launch-hours"></span>
        <span class="launch-minutes"></span>
        <span class="launch-seconds"></span>
      </p>
    </div>
  </div>
</section>
